@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Data_Details.Models.SignUp
@{
    ViewData["Title"] = "Signup Page";
}

<head>
    <link rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">


    <script type="text/javascript" src="~/js/site.js"></script>
</head>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"].ToString()</div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="errorMessage" class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}


<section class="vh-500" style="background-color: #fff;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">SIGN UP</p>
                                <form class="mx-1 mx-md-4" action="@Url.Action("SignUp", "Signup")" method="post">
                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-user "></i> @Html.LabelFor(m => m.First_name, "First Name", new { @class = "form-label" })
                                            @*validation message pass*@
                                            <input class="form-control" type="text" id="First_name" name="First_name" @(Model.First_name) required>



                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-user "></i> @Html.LabelFor(m => m.Last_name, "Last Name", new { @class = "form-label" })
                                            <input class="form-control" type="text" id="Last_name" name="Last_name" @(Model.Last_name) required>
                                            @*@Html.TextBoxFor(m => m.Last_name, new { @class = "form-control" })*@

                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <i class="fas fa-envelope "></i>  @Html.LabelFor(m => m.EmailID, "Email ID", new { @class = "form-label" })
                                            <input class="form-control" type="text" id="EmailID" name="EmailID" onclick="validateEmail()" @(Model.EmailID) required>
                                            <div class="invalid-feedback" id="emailError"></div>
                                            @*@Html.TextBoxFor(m => m.EmailID, new { @class = "form-control" })*@

                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            @Html.LabelFor(m => m.Password, "Password", new { @class = "form-label" })
                                            <input class="form-control" type="password" id="password" name="Password" @(Model.Password) required />

                                            <div class="toggle-password" onclick="togglePassword()">
                                                <i class="fa fa-eye"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">

                                        <div class="form-outline flex-fill mb-0">
                                            @Html.LabelFor(m => m.Confirm_Password, "Confirm Password", new { @class = "form-label" })
                                            <input class="form-control" type="password" id="Confirm_Password" name="Confirm_Password" @(Model.Confirm_Password) required>

                                            <div class="toggle-password" onclick="toggleConfirm_Password()">
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            @*@Html.PasswordFor(m => m.Confirm_Password, new { @class = "form-control" })*@

                                        </div>
                                    </div>

                                    <div class="col-md-6 mb-4">
                                        <h6 class="mb-2 pb-1"> Select Role </h6>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" id="Employee" name="role" value="Employee" @(Model.role == "Employee" ? "checked" : "") />
                                            <label for="Employee">Employee</label>

                                            <input type="radio" id="Custormer" name="role" value="Custormer" @(Model.role == "Custormer" ? "checked" : "") />
                                            <label for="Custormer">Custormer</label>

                                            <input type="radio" id="Admin" name="role" value="Admin" @(Model.role == "Admin" ? "checked" : "") />
                                            <label for="Admin">Admin</label>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">

                                        <input type="submit" value="Register" id="submitButton" class="btn btn-primary btn-lg" />

                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
