@model IEnumerable<Data_Details.Models.customerDataModel>

@{
    ViewData["Title"] = "Customer";
}

@if (TempData["Success-Message-4"] != null)
{
    <div id="Success-Message-4" class="alert alert-success">@TempData["Success-Message-4"].ToString()</div>
}

@if (TempData["Success-Message-71"] != null)
{
    <div id="Success-Message-71" class="alert alert-success">@TempData["Success-Message-71"].ToString()</div>
}
@if (TempData["Success-Message-81"] != null)
{
    <div id="Success-Message-81" class="alert alert-success">@TempData["Success-Message-81"].ToString()</div>
}

@if (TempData["Success-Message-91"] != null)
{
    <div id="Success-Message-91" class="alert alert-success">@TempData["Success-Message-91"].ToString()</div>
}


<h1>Custormer Detail</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    ID
                </th>*@
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
