@model IEnumerable<Data_Details.Models.EmployeeDataModel>
@*@{
        Layout = ViewBag.Layout;
    }*@

@*@{TempData["Admin"] = true; }*@

<head>
    <script src="~/js/site.js"></script>
</head>

@{
    ViewData["Title"] = "Employee";
}
@if (TempData["Success-Message-3"] != null)
{
    <div id="Success-Message-3" class="alert alert-success">@TempData["Success-Message-3"].ToString()</div>
}

@if (TempData["Success-Message-11"] != null)
{
    <div id="Success-Message-11" class="alert alert-success">@TempData["Success-Message-11"].ToString()</div>
}

@if (TempData["Success-Message-21"] != null)
{
    <div id="Success-Message-21" class="alert alert-success">@TempData["Success-Message-21"].ToString()</div>
}

@if (TempData["Success-Message-41"] != null)
{
    <div id="Success-Message-41" class="alert alert-success">@TempData["Success-Message-41"].ToString()</div>
}



@if (TempData["error-message-15"] != null)
{
    <div id="error-message-15" class="alert alert-danger">
        @TempData["error-message-15"].ToString()
    </div>
}




<h1>Employee Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    ID
                </th>*@
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Gender
            </th>
            <th>
                Salary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.First_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
